/* COLORS AND FONTS */

:root {
	font-size: 100%;
	--bg-color: #f5f5f5;
	--sel-color: #d1d1d1;
	--body-color: #1d1d1d;
	--text-color:  #000;
	--quote-color: #ebebeb;

	--blue: #5972c0;
	--gray: #404040;
	background-color: var(--bg-color)
}

::-moz-selection 
::selection {
  color: black;
	background: var(--sel-color);
}

header {
	font-family: Helvetica;
}

body {
	color: var(--body-color);
	font-family: "Lato", Roboto, Georgia, sans-serif;
}

h1 {
	font-weight: 700;
	font-size: 2.0em;
}

h2 {
	font-weight: 400;
	font-size: 1.5em;
}

h3 {
	font-weight: 700;
	font-size: 1.2em;
}

h4 {
	font-weight: 600;
	font-size: 1.2em;
}

h5 {
	font-weight: 400;
	font-size: 1.2em;
}

h6 {
	font-weight: 100;
	font-size: 1.2em;
}

p {
	;
}

a {
	color: var(--blue);
}

small {
	font-size: 0.8em;
	font-weight: 600;
}

em {
	font-weight: 600;
}

strong {
	font-weight: 600;
}

li
strong {
	font-size: 1.05em;
}

code {
	background-color: var(--quote-color);
	padding: 0.2em 0.4em;
}

blockquote {
	font-weight: 600;
	font-size: 1.1em;

	background-color: var(--quote-color);
	border-color: var(--blue);
}

blockquote * {
	font-weight: 100;
}

.index {
	border-color: var(--gray);
}

.index ul,
.post ul {
	border-color: var(--blue);
}

.post {
	border-color: var(--gray)
}

ul.top-menu {
	background-color: var(--bg-color);
	border-color: var(--gray);
}

.top-menu a {
	font-weight: 700;
	font-size: 1em;
	color: var(--body-color);
}
	
.top-menu 
a:hover{
	box-shadow: inset 0 0 black;
	background-color: #d9d9d9;
}
