:root {
	overflow-y: scroll;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}


/* {{{ General */
header {
	margin-top: 3em;
	margin: 3em 0 1em 0;
}

footer {
	margin-top: 1em;
	margin-left: 0.5em;
	margin-bottom: 20em;
}

body {
	display: grid;
	grid-template-columns: 1fr 0.25in [start] 8.5in [end] 0.25in 1fr
}

body * {
	grid-column: start / end ;
}

/* Lists */
ul {

}

li {
	line-height: 1.4em;
}


/* }}} */

/* {{{ Text blocks */
h1 {
}

h2 {
	margin-bottom: 1.4em;
}

h3 {
	margin-top: 1.2em;
	margin-bottom: 0.6em;
}

h4 {
	margin-bottom: 0.5em;
}

h5 {
}

h6 {
}

p {
	margin-left: 0.3em;
	margin-right: 1em;
	margin-bottom: 1.3em;
	margin-top: 1.3em;
	line-height: 1.3em;
}

li
p {
	display: inline;
}

a:hover{
	text-decoration: underline;
}


em {
}

small {
	margin-bottom: 1.2em;
	display: block
}

li 
small {
	display: inline;
	margin-right: 0.5em;
}

blockquote {
	margin: 0 0 0.9em;
	padding: 0.4em 1.1em;
	border-left: 7px solid;
}

time {
	display: block;
	font-weight: 500;
	font-size: 1.1em;
	margin-bottom: 0.4em;
}

/* }}} */

/* {{{ Classes */

/* Hidden objects */
.hidden {
	display: none;
}

/* Post Class */
.post {
	grid-column: start/end;	
	/*margin-bottom: 3em;*/
	padding: 2em;
	padding-top: 3em;
	border-bottom: 4px solid;
}

.index {
	padding-bottom: 10em;
	border-bottom: 4px solid;
}

.index ul,
.post ul {
	border-left: 7px solid;
	margin-left: 0em;
	margin-bottom: 0.4em;
	padding-left: 1em;
}

.index li,
.post li {
	line-height: 1.5em;
}

.gallery {
	margin-top: 1.2em;
	grid-column: start / end;
}

.gallery * {
	box-sizing: border-box;
}

.gallery
img:hover {
	/*opacity: 0.8;*/
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Image sizes */
.size-1 { 
	grid-column: 4/5;
}
.size-2 { 
	grid-column: 3/6;
}
.size-3 { 
	grid-column: 2/7;
}
.size-4 { 
	grid-column: 2/3;
}

img.size-1,
img.size-2,
img.size-3,
img.size-4
{
	margin: 0.4em 0;
	width: 100%;
}

div.col {
	float: left;
	width: 33.33%;
	padding: 0 0.2em;
	margin: 0 0 1em 0;
}

div.content {
	padding: 0.8em 0.8em;
	background: #fff;
}

.content
img {
	width: 100%;
}


/* Top Menu Class */
ul.top-menu {
	border-top: 4px solid;
	margin-top: 1em;
	padding: 0.2em 0;
}

.top-menu 
li {
	float: left;
}

.top-menu 
a {
	display: block;
	text-align: center;
	margin: 0 0.2em;
	padding: 0.8em 1em;
	border-bottom: 2px hidden;
}

/* }}} */

/* {{{ Responsive configuration */

@media (max-width: 9in) {
	body {
		grid-template-columns: 0 1fr [start] 90% [end] 1fr 0;
	}

	/* 2 images per row */
	div.col {
		width: 50%;
	}
	
	.post {
		padding: 0.2em;
		padding-top: 2em;
	}

}

@media (max-width: 5.0in) {

	body {
		grid-template-columns: 0 1fr [start] 90% [end] 1fr 0;
	}
	
	/* On smaller screens images show on 1 column */
	div.col {
		width: 100%;
	}

	.top-menu 
	a{
		padding: 0.8em .8em;
	}
	
	footer {
		margin-bottom: 2em;
	}
}

/* }}} */

